<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DesktopBridge.Helpers" version="1.1" targetFramework="net462" />
  <package id="ManagedBass" version="2.0.4" targetFramework="net461" />
  <package id="ManagedBass.Asio" version="2.0.0" targetFramework="net461" />
  <package id="ManagedBass.Fx" version="2.0.1" targetFramework="net461" />
  <package id="ManagedBass.Midi" version="2.0.0" targetFramework="net461" />
  <package id="ManagedBass.Mix" version="2.1.0" targetFramework="net461" />
</packages>